@font-face {
  font-family: 'Quadrata';
  src: url('./fonts/Friz\ Quadrata\ Bold.otf') format('embedded-opentype'), /* Internet Explorer */
  url('./fonts/Friz\ Quadrata\ Bold.otf') format('woff2'), /* Super Modern Browsers */
  url('./fonts/Friz\ Quadrata\ Bold.otf') format('woff'), /* Pretty Modern Browsers */
  url('./fonts/Friz\ Quadrata\ Bold.otf')  format('truetype'), /* Safari, Android, iOS */
  url('./fonts/Friz\ Quadrata\ Bold.otf') format('svg'); /* Legacy iOS */
}
.header 
{
  text-align: center;
}
.footer 
{
  color: white;
  text-align: center;
}

.app
{
  font-family: 'Quadrata';
}